:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --dark-brown: #967259;
  --darker-brown: #694f3e;
  --light-brown: #ece0d1;
  --text-color: #faf9f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: fit-content;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-position: center;
  background-color: #ece0d1 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-hero {
  max-width: 2000px;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: 85vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/home-hero.jpg") center center / cover no-repeat;
}

.home-card {
  color: #faf9f6;
  background-color: #967259;
  transition: transform 0.3s ease-in-out;
}
.home-card:hover {
  cursor: pointer;
  transform: scale(1.06);
}
.home-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.product-card-link-wrapper {
  max-width: 300px;
}
.product-card {
  max-width: 300px;
  flex-direction: column;
  align-items: center;
  background-color: #dbc1ac;
  height: 400px;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;

  .product-img {
    height: 100%;
    width: auto;
  }
}

.product-card:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.coffee-roast {
  color: white;
  &.light {
    background-color: #967259;
  }
  &.medium {
    background-color: #634832;
  }
  &.dark {
    background-color: #38220f;
  }
}
.footer {
  text-align: center;
  min-height: 20vh;
  background-color: var(--dark-brown);
  padding: 1rem;
  color: var(--text-color);
}
.contact-submit-btn {
  background-color: var(--darker-brown) !important;
  border-color: var(--darker-brown) !important;
}
.footer-link:hover {
  color: black !important;
}
.footer-link {
  text-decoration: none;
  color: var(--light-brown) !important;
  margin-top: 1rem;
}

.about-page {
  margin-top: 10vh;
  text-align: center;
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 1.5rem;
  }
  .about-subTitle {
    color: #cd7f32;
  }
}
.bottom-about-border {
  border-bottom: 1px solid black;
}

.add-cart-btn {
  min-width: 150px;
  background-color: var(--darker-brown) !important;
  border: var(--darker-brown) !important;
}
/* svg styles */
.custom-shape-divider-bottom-1701138620 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701138620 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 130px;
}

.custom-shape-divider-bottom-1701138620 .shape-fill {
  fill: var(--light-brown);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navBar {
  position: fixed !important;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: transparent;
}

.navBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/paper-bg.jpg");
  background-size: cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1; /* Ensure the background is behind the text */
}

.nav-link {
  color: white !important;
  position: relative;
}
.cart-count {
  width: 20px;
  height: auto;
  z-index: -1;
  background-color: var(--darker-brown);
  font-size: 12px;
}
.logo {
  fill: white !important;
  color: white !important;
}
.main-title {
  position: relative;
  font-size: 40px;
  text-align: center;
  color: white;
  bottom: 25%;
}
.shop-btn {
  background-color: #967259 !important;
  border-color: #967259 !important;
  width: 150px;
  height: auto !important;
  position: absolute;
  bottom: 50%;
  right: 10vw;
}
.silder-wrapper::before {
  content: "";
  background-color: black;
  height: 50px;
  width: 50px;
}
.store {
  margin-top: 10vh;
  margin-bottom: 75px;
}

.sideNav {
  display: none;
  border: 2px solid black;
}
.offcanvas-body .sideNav {
  display: block;
}

/* PRODUCT PAGE */

.productPage {
  padding-top: 10vh;
  height: 100dvh;
  background-color: #38220f;
}

.productDetails {
  height: 100%;
  width: 100%;
  background-color: #967259;
  border-radius: 45px 45px 0 0;
  text-align: center;
  h2 {
    margin-top: 2rem;
  }
}

.cart-list {
  margin-top: 10vh;
}
.cart-list > .container:last-child {
  border-bottom: 1px solid black;
}

.cart-card {
  border-top: 1px solid black;
  align-items: stretch;
}
.cart-card-name {
  font-size: 1rem;
}
.cart-card-image {
  max-width: 100%;
  max-height: 100%;
}

.order-total {
  font-size: 20px;
  margin-right: 50px;
}
.remove-btn {
  margin-right: 0;
  margin-left: auto;
}
.address-form {
  width: 50%;
  margin: 0 auto;
}

/* md */
@media (min-width: 768px) {
  .sideNav {
    display: block;
    border: 2px solid black;
  }
  .mobileFilter {
    display: none;
  }

  /* your styles here */
}

/* lg */
@media (min-width: 992px) {
  .shop-btn {
    width: 300px;
    height: 100px;
    font-size: 30px !important;
  }
  .bottom-about-border {
    border-bottom: none;
    border-right: 1px solid black;
  }
}

/* xl */
@media (min-width: 1200px) {
  .shop-btn {
    right: 20vw;
  }
}
